<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Bootstrap -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="../static/styles.css" rel="stylesheet" media="screen">
    <body>
        <div class='container'>
            <div class='large-heading'>Bash My</div>
            <div class='large-heading'>Bumble</div>
            <div class='large-yellow-hr'></div>
            <div class='center-text'>How bad is your dating life?</div>
            <a href="/login_prompt" class = "button button1">Get Started</a>
            <div class='center-small-text'>*We are in no way a part of or associated with Bumble.*</div>
        

        <div class="footer">
            <div>
                <div>
                    <div>Created By</div>
                    <div>Burnt Corn Co.</div>
                </div>
                <div>
                    <div>Learn More</div>
                    <div>Privacy</div>
                </div>
            </div>
        </div>
        </div>
    <script src="https://code.jquery.com/jquery.js"></script>   
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>