<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Prompt</title>
    <!-- Bootstrap -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="../static/styles.css" rel="stylesheet" media="screen">
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="../static/js/showButton.js"></script>
    <body>

        <div class='container'>
            <div class='type-container'>
                <div class='center-type-text' id='loginprompt' style='margin-top:10vh;'>

                </div>
            </div>
            <a href="/fblogin" class="wide-button hide" id="connectToBumble">Connect to Bumble</a>
        </div>

        <div class="footer">
            <div>
                <div>
                    <div>Created By</div>
                    <div>Burnt Corn Co.</div>
                </div>
                <div>
                    <div>Learn More</div>
                    <div>Privacy</div>
                </div>
            </div>
        </div>



    <script src="https://code.jquery.com/jquery.js"></script>   
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/typewriter.js"></script>
    </body>
</html>